* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 6px rgba(63, 63, 63, 0.1);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; 
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #f3f3f3;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f3f3f3d8;
}

.login-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #ffffffd8;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    }

.menu-icon {
    display: none;
}

.saldo-container {
    background-color: #2DCB76; /* Verde PicPay */
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin: 50px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Texto do saldo */
.saldo-label {
    font-size: 16px;
    opacity: 0.8;
}

.saldo-valor {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

/* Botão de esconder/exibir saldo */
.toggle-saldo {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
}
