body {
    background-color: rgb(252, 252, 252);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

div {
    background-color: rgb(0, 0, 0);
    padding: 4px;
    border-radius: 10px;
    color: white;
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 65vh;
    width: 43vh;
}

input {
    border: none;
    padding: 6px;
    border-radius: 8px;
    font-size: 19px;
    width: 90%;
    height: 6%;
}

h1 {
    font-size: 35px;
    margin-top: 3%;
    margin-bottom: 3%;
}

p {
    font-size: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
}

button {
    border: none;
    background-color: white;
    padding: 6px;
    border-radius: 8px;
    font-size: 18px;
    width: 92%;
    height: 7%;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}