<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar">
        <a href="#" class="logo">BANK OF BANKS</a>

        <a href="#" class="login-btn" onclick="abrirMenu()"> 
            Olá, <span th:text="${user.primeiro_nome}">?</span> 
        </a>
    </nav>

    <!-- Menu lateral (Mobile) -->
    <div class="mobile-menu" id="mobileMenu">
        <div class="close-btn" onclick="fecharMenu()">✖</div>
        <a href="/deleteUserCookie">Sair</a>
    </div>

    <script>
        function abrirMenu() {
            document.getElementById("mobileMenu").style.right = "0";
        }

        function fecharMenu() {
            document.getElementById("mobileMenu").style.right = "-250px";
        }
    </script>



    <div class="container">
        <div class="saldo-container">
            <p class="saldo-label">Seu saldo</p>
            <p id="saldo" class="saldo-valor" th:data-valor="${balence}"  data-valor="${balence}" >R$ ••••</p>
            <button class="toggle-saldo" onclick="toggleSaldo()">Mostrar saldo</button>
        </div>
    </div>

    <nav class="sidebar">
        <ul class="nav-links">
            <li>
                <img th:src="@{/images/paycheck.png}" alt="">
                <p class="text-item"><a href="/deposito">Depositar</a></p>
            </li>
            <li>
                <img th:src="@{/images/pngwing.com.png}" alt="">
                <p class="text-item"><a href="/pix">pix</a></p>
            </li>
            <li>
                <img th:src="@{/images/3742514.png}" alt="">
                <p class="text-item"><a href="/extrato">Extrato</a></p>
            </li>
        </ul>
    </nav>


    <script>
        let saldoVisivel = false;
        function toggleSaldo() {
            const saldo = document.getElementById("saldo");
            const botao = document.querySelector(".toggle-saldo");

            if (saldoVisivel) {
                saldo.textContent = "R$ ••••";
                botao.textContent = "Mostrar saldo";
            } else {
                saldo.textContent = "R$" + saldo.dataset.valor; // Aqui pode ser um valor dinâmico vindo do backend
                botao.textContent = "Ocultar saldo";
            }
            saldoVisivel = !saldoVisivel;
        }
    </script>

</body>
</html>